body{
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    background: #F2EFC7;
    min-width: 1440px;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    flex-wrap: wrap;
}

.menuLeft{
    position: absolute;
    width: 292px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.table{
    position: absolute;
    width: 856px;
    height: 1024px;
    left: 291px;
    top: 0px;
    border: solid #CD1502 4px;
}

.table img{
    width: 856px;
    height: 1024px;
}

.historico{
    width: 292px;
    height: 34px;
    margin-top: 61px;
    background: #807f7f;
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #F2EFC7;
    cursor: pointer;
    border: unset;
    outline: none;
    text-decoration: none;
}

.historico:active{
    background-color: #CD1502;
}

.menuLeft > button > a{
    text-decoration: none;
}

.navLeft{
    position: absolute;
    width: 291px;
    height: 55px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    background: #CD1502;
    justify-content: space-around;
    align-items: center;
}

.navLeft > a {
    text-decoration: none;
    border: none;
}

.navLeft > a:hover {
    background: #0084CC;
    text-decoration: none;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLeft > a > img {
    width: 33px;
    top: 11px;
    text-decoration: none;
}

.chatBox{
    position: absolute;
    width: 286px;
    height: 700px;
    background: #FFFEEB;
    outline: none;
    border: none;
    color: #CD1502;
    font-size: 25px;
}

.chatBox:placeholder-shown{
    text-align:center;
}

.mensagemBox{
    margin-top: 700px;
    margin-left: 8px;
    width: 276px;
    height: 104px;
    background: #FFFEEB;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding-top: 30px;
    font-family: Alegreya;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #787676;
}

.mensagemParaTexto{
    margin-top: 708px;
    margin-left: 12px;
    position: absolute;
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #787676;
}

.mensagemPara {
    position: absolute;
    margin-top: 708px;
    margin-left: 50px;
    width: 65.62px;
    height: 19px;
    background: rgba(0, 132, 204, 0.7);
    border-radius: 8px;
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #F2EFC7;
    border: none;
    cursor: pointer;
}

.enviar{
    position: absolute;
    width: 122.85px;
    height: 41.16px;
    margin-left: 160px;
    background: #0084CC;
    border-radius: 9px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #F2EFC7;
    outline: none;
    border: none;
    cursor: pointer;
}

.enviar:active{
    background-color: #CD1502;
}

.diceRoll{

    position: absolute;
    width: 292px;
    height: 1024px;
    left: 1155px;
    top: 0px;
    display: flex;
    flex-direction: column;
}

.rolagem{
    position: absolute;
    width: 290px;
    height: 674px;
    background: #FFFEEB;
    outline: none;
    border: none;
    color: #CD1502;
    font-size: 25px;
    margin-right: 0;
}

.rolagem:placeholder-shown{
    text-align:center;
}

.limpar {
    position: absolute;
    width: 296px;
    height: 34px;
    background: #800008;
    top: 679px;
    outline: none;
    border: none;
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #F2EFC7;
    cursor: pointer;
}

.limpar:active{
    background-color: #CD1502;
}

.dice{
    position: absolute;
    width: 296px;
    height: 60px;
    top: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dice > a {
    text-decoration: none;
    border: none;
}

.dice > a > img {
    width: 36px;
    text-decoration: none;
}

.mais{
    position: absolute;
    margin-left: 190px;
    top: 825px;
    width: 100px;
    height: 35px;
    background: #0084CC;
    border-radius: 9px;
    border: none;
    outline: none;
    cursor: pointer;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
    font-family: Alegreya;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F2EFC7;

}

.mais:active{
    background-color: #CD1502;
}


.nome{
    margin-left: 10px;
    position: absolute;
    width: 155px;
    height: 34px;
    top: 825px;
    font-family: Alegreya;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #787676;
    outline: none;
    border: none;
    border: 1px solid #C4C4C4;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
}

.tipo{
    margin-left: 10px;
    position: absolute;
    width: 106px;
    height: 34px;
    top: 880px;
    font-family: Alegreya;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #787676;
    outline: none;
    border: none;
    border: 1px solid #C4C4C4;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
}

.mod{
    margin-left: 135px;
    position: absolute;
    width: 50px;
    height: 34px;
    top: 880px;
    font-family: Alegreya;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #787676;
    outline: none;
    border: none;
    border: 1px solid #C4C4C4;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
}

.salvos{
    position: absolute;
    margin-left: 210px;
    top: 880px;
    width: 70px;
    height: 35px;
    background: #CD1502;
    border-radius: 9px;
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
    font-family: Alegreya;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F2EFC7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.salvosImg{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.salvos:active{
    background-color: #14CC41;
}

.rolar{
    position: absolute;
    margin-left: 50px;
    top: 950px;
    width: 206px;
    height: 54px;
    background: #CD1502;
    border-radius: 9px;
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
    font-family: Alegreya;
    font-style: normal;
    font-size: 35px;
    line-height: 23px;
    text-align: center;
    color: #F2EFC7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.rolar:active{
    background-color: #14CC41;
}