<footer>
    <nav class="menu3">
        <ul>
            <li><a href="#">Contato</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Diretrizes</a></li>
            <li><a href="#">Créditos</a></li>
        </ul>
    </nav>
</footer>

</body>
</html>