</head>

<body>
    <header>
        <a href="/">
            <img src="../images/Group 22.png" alt="Logo">
            <h1>A GUILDA</h1>
        </a>
        <nav class="menu1">
            <ul>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Jogador</a></li>
                <li><a href="#">Mestre</a></li>
                <li><a href="/anuncios">Lives</a></li>
            </ul>
        </nav>
        <nav class="menu2">
            <ul>
                <li><a href="/cadastro">Cadastrar</a></li>
                <li class="entrar"><a href="/login">Entrar</a></li>
            </ul>
        </nav>
        <nav class="menu3">
        <button>☰</button>
        </nav>
    </header>