
<!-- Footer simples -->
<footer>
    <nav class="footerMenu">
        <ul>
            <li><a href="#">Contato</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="#">Diretrizes</a></li>
            <li><a href="/creditos">Créditos</a></li>
        </ul>
    </nav>
</footer>

</body>
</html>