<!-- Header -->

</head>




<!-- Header se o usuario não estiver logado no site -->
<% if(typeof usuarios=== 'undefined'){ %>


<body>
    <header>
        <a href="/">
            <img src="../images/Group 22.png" alt="Logo">
            <h1>A GUILDA</h1>
        </a>
        <nav class="menu1">
            <ul>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Jogador</a></li>
                <li><a href="#">Mestre</a></li>
                <li><a href="/hub">Lives</a></li>
            </ul>
        </nav>
        <nav class="menu2">
            <ul>
                <li><a href="/cadastro">Cadastrar</a></li>
                <li class="entrar"><a href="/login">Entrar</a></li>
            </ul>
        </nav>
        <nav class="menu3">
        <button class="buttonMenu"><i class="fa-solid fa-bars"></i></button>
        <ul class="submenu">
            <li class="item-menu"><a href="#"><i class="fa-regular fa-circle-question"></i>Sobre</a></li>
            <li class="item-menu"><a href="#"><i class="fa-solid fa-user-secret"></i>Jogador</a></li>
            <li class="item-menu"><a href="#"><i class="fa-solid fa-hat-wizard"></i>Mestre</a></li>
            <li class="item-menu"><a href="/hub"><i class="fa-solid fa-microphone-lines"></i>Lives</a></li>
            <li class="item-menu"><a href="/cadastro"><i class="fa-solid fa-user-plus"></i>Cadastrar</a></li>
            <li class="item-menu"><a href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>Entrar</a></li>
        </ul>
        </nav>
    </header>


</head>
<% } else { %>




    <!-- Header se o usuario estiver logado no site -->
<body>
    <header>
        <a href="/">
            <img src="../images/Group 22.png" alt="Logo">
            <h1>A GUILDA</h1>
        </a>
        <nav class="menu1">
            <ul>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Jogador</a></li>
                <li><a href="#">Mestre</a></li>
                <li><a href="/hub">Lives</a></li>
            </ul>
        </nav>
        <nav class="menu2">
            <ul>
                <li>
               <a href="/perfil">  Olá  <%= usuarios.nome %></a>
                </li>
                <li class="entrar"><a href="/logout">Sair</a></li>
            </ul>
        </nav>
        <nav class="menu3">
            <span class="saudacao"> Olá  <%= usuarios.nome %></span>
            <button class="buttonMenu"><i class="fa-solid fa-bars"></i></button>           
            <ul class="submenu">
                <li class="item-menu"><a href="#"><i class="fa-regular fa-circle-question"></i>Sobre</a></li>
                <li class="item-menu"><a href="/perfil"><i class="fa-solid fa-user-secret"></i>Perfil</a></li>
                <li class="item-menu"><a href="#"><i class="fa-solid fa-hat-wizard"></i>Mestre</a></li>
                <li class="item-menu"><a href="/hub"><i class="fa-solid fa-microphone-lines"></i>Lives</a></li>
                <li class="item-menu"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Sair</a></li>
            </ul>
            </nav>
    </header>


    

    <% } %>



    <script src="/js/menuLogin.js"></script>


