<%- include('partials/head'); %>

<link rel="stylesheet" href="../css/creditos.css">
<!-- css da página acima -->
<%- include('partials/header') %>

<main>
    <div class="leftDiv">
        <img src="../images/imagem1.png" alt="">
    </div>

    <div class="rightDiv">
       <div>
           <h1>Créditos</h1>
       </div>
    </div>
</main>












<%- include('partials/footer'); %>