<%- include('partials/head'); %>

<link rel="stylesheet" href="../css/creditos.css">
<!-- css da página acima -->
<%- include('partials/header') %>

<main>
    <div class="leftDiv">
        <img src="../images/imagem1.png" alt="">
    </div>

    <div class="rightDiv">
       <div>
           <h1>Créditos</h1>
       </div>
       <div class="tormenta">
            <p>
                Tormenta é um universo de fantasia que abrange romances, histórias em quadrinhos, jogos de RPG em outros produtos. Foi criado em 1999 por Marcelo Cassaro, Rogério Saladino e JM Trevisan, como um encarte especial comemorativo de 50 edições da revista Dragão Brasil.
                Pensando nisso meu grupo de projeto integrador do curso intensivo de Desenvolvimento Web decidiu criar um RPG de mesa online se inspirando no universo de tormenta.
            </p>
       </div>
       
       <div class="meuGitHub">
            <div class="pabloReis">
                <h2>Pablo Reis Gomes</h2>
                <img src="/images/imgPerfil/pablo.jpg" alt="foto de perfil Pablo">
                <h3><i class="fa-solid fa-code"></i>Desenvolvedor</h3>
                <h4><i class="fa-solid fa-hashtag"></i>Redes Sociais</h4>
                <p><i class="fa-brands fa-github"></i>GitHub</p>
                <p><i class="fa-brands fa-linkedin"></i>Linkedin</p>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>

            </div>
       </div>

       <div class="gitHubOrientadores">
           <h2><i class="fa-solid fa-graduation-cap"></i>Orientadores</h2>
            <div>
                <img src="/images/imgPerfil/sergiomoura.png" alt="">
                <h3>Sérgio Moura</h3>
                <h4><i class="fa-solid fa-hashtag"></i>Redes Sociais</h4>
                <p><i class="fa-brands fa-github"></i>GitHub</p>
                <p><i class="fa-brands fa-linkedin"></i>Linkedin</p>
            </div>   
            <div>
                <img src="/images/imgPerfil/leocarvalho.png" alt="">
                <h3>Léo Carvalho</h3>
                <h4><i class="fa-solid fa-hashtag"></i>Redes Sociais</h4>
                <p><i class="fa-brands fa-github"></i>GitHub</p>
                <p><i class="fa-brands fa-linkedin"></i>Linkedin</p>
                
            </div>
       </div>

       <div class="gitHubMencao">
           <h2><i class="fa-solid fa-hand-sparkles"></i></i>Menção Honrosa</h2>
        <div>
            <img src="/images/imgPerfil/andredealmeida.png" alt="">
            <h3>André de Almeida</h3>
            <p><i class="fa-brands fa-github"></i>GitHub</p>
            
        </div>
        <div>
            <img src="/images/imgPerfil/tiagotarcisio.png" alt="">
            <h3>Tiago Tarcisio</h3>
            <p><i class="fa-brands fa-github"></i>GitHub</p>
        </div>
       </div>
    </div>
</main>












<%- include('partials/footer'); %>