<%- include('partials/head'); %>

<link rel="stylesheet" href="../css/creditos.css">
<!-- css da página acima -->
<%- include('partials/header') %>

<main>
    <div class="leftDiv">
        <img src="../images/imagem1.png" alt="">
    </div>

    <div class="rightDiv">
       <div>
           <h1>Créditos</h1>
       </div>
       <div class="tormenta">
            <p>
                Tormenta é um universo de fantasia que abrange romances, histórias em quadrinhos, jogos de RPG em outros produtos. Foi criado em 1999 por Marcelo Cassaro, Rogério Saladino e JM Trevisan, como um encarte especial comemorativo de 50 edições da revista Dragão Brasil.
                Pensando nisso meu grupo de projeto integrador do curso intensivo de Desenvolvimento Web decidiu criar um RPG de mesa online se inspirando no universo de tormenta.
            </p>
       </div>
       
       <div class="meuGitHub">
            <div class="pabloReis">
                <h2><i class="fa-solid fa-code"></i>Desenvolvedor</h2>
                <img src="/images/imgPerfil/pablo.jpg" alt="foto de perfil Pablo">
                <h3>Pablo Reis Gomes</h3>
                <div class="redesSociais">
                    <h4><i class="fa-solid fa-hashtag"></i>Redes Sociais</h4>

                    <a href="https://github.com/Koji-desu" target="_blank">
                        <p>
                            <i class="fa-brands fa-github"></i>GitHub
                        </p>
                    </a>
                    
                    <a href="https://www.linkedin.com/in/pabl0reis/" target="_blank">
                        <p>
                            <i class="fa-brands fa-linkedin"></i>Linkedin
                        </p>

                    </a>
                    <a href="https://www.instagram.com/koji1lol/" target="_blank">
                        <p>
                            <i class="fa-brands fa-instagram"></i>Instagram
                        </p>
                    </a>
                    <a href="https://twitter.com/Koji1lol" target="_blank">
                        <p>
                            <i class="fa-brands fa-twitter"></i>Twitter
                        </p>
                    </a>
                </div>


            </div>
       </div>
       <h2 class="orientadores"><i class="fa-solid fa-graduation-cap"></i>Orientadores</h2>
       <div class="gitHubOrientadores">
           
            <div class="sergioMoura">
                <img src="/images/imgPerfil/sergiomoura.png" alt="">
                <div>
                    <h3>Sérgio Moura</h3>
                    <div class="redesSociais">
                        <h4><i class="fa-solid fa-hashtag"></i>Redes Sociais</h4>

                        <a href="https://github.com/sergiomoura" target="_blank">
                            <p>
                                <i class="fa-brands fa-github"></i>GitHub
                            </p>
                        </a>
                        <a href="https://www.linkedin.com/in/sergio-moura/" target="_blank">
                            <p>
                                <i class="fa-brands fa-linkedin"></i>Linkedin
                            </p>
                        </a>
                        
                        

                    </div>
                </div>

            </div>   
            <div class="leoCarvalho">
                <img src="/images/imgPerfil/leocarvalho.png" alt="">

                <div>
                    <h3>Léo Carvalho</h3>
                    <div class="redesSociais">
                        <h4><i class="fa-solid fa-hashtag"></i>Redes Sociais</h4>

                        <a href="https://github.com/carvalholeo/" target="_blank">
                            <p>
                                <i class="fa-brands fa-github"></i>GitHub
                            </p>
                        </a>

                        <a href="https://www.linkedin.com/in/carvalholeo/" target="_blank">
                            <p>
                                <i class="fa-brands fa-linkedin"></i>Linkedin
                            </p>
                        </a>
                    </div>
                </div>

                
            </div>
       </div>

       <div class="gitHubMencao">
           <h2><i class="fa-solid fa-hand-sparkles"></i></i>Menção Honrosa</h2>
        <div class="andreDeAlmeida">
            <img src="/images/imgPerfil/andredealmeida.png" alt="">
            <h3>André de Almeida</h3>
            <div class="redesSociais">

                <a href="https://github.com/andrenaza" target="_blank">
                    <p><i class="fa-brands fa-github"></i>GitHub</p>
                </a>    
            </div>
            
            
        </div>
        <div class="tiagoTarcisio">
            <img src="/images/imgPerfil/tiagotarcisio.png" alt="">
            <h3>Tiago Tarcisio</h3>
            <div class="redesSociais">

                <a href="https://github.com/ttmajczak" target="_blank">
                    <p><i class="fa-brands fa-github"></i>GitHub</p>
            </div>
        </div>
            </a>
            
       </div>
    </div>
</main>












<%- include('partials/footer'); %>