<%- include('partials/head'); %>

<link rel="stylesheet" href="../css/faq.css">
<!-- css da página acima -->
<%- include('partials/header') %>

<main>
    <div class="leftDiv">
        <img src="../images/faq_img.png" alt="">
    </div>

    <div class="rightDiv">
        <div>
            <h1>Perguntas frequentes</h1>
        </div>
        <div class="faqs">
            <ul> 
                <li>
                    <i class="fa-solid fa-check" style="color:red"></i>
                     O que preciso para começar a jogar RPG?
                </li>
            </ul>

            <ul>
                <li>
                    <i class="fa-solid fa-check" style="color:red"></i>
                    Como são as regras da Guilda?
                </li>
            </ul>

            <ul>
                <li>
                    <i class="fa-solid fa-check" style="color:red"></i>
                    Como criar uma partida?
                </li>
            </ul>

            <ul>
                <li>
                    <i class="fa-solid fa-check" style="color:red"></i>
                    Como encontrar pessoas para fechar a sala?
                </li>
            </ul>
        </div>
    </div>
</main>












<%- include('partials/footer'); %>