<%- include('partials/head'); %>

<link rel="stylesheet" href="../css/faq.css">
<!-- css da página acima -->
<%- include('partials/header') %>

<main>
    <div class="leftDiv">
        <img src="../images/tela74.jpg" alt="">
    </div>

    <div class="rightDiv">
        <div>
            <h1>Perguntas frequentes</h1>
        </div>
        <div class="faqs">
            <ul> 
                <i class="fa-solid fa-check" style="color:red" ></i>
                <details >
                     <summary>
                        O que preciso para começar a jogar RPG?
                     </summary> 
                     <p class="faqresposta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nobis! Laborum, numquam? Hic, et? Perspiciatis in voluptatibus quia animi, a pariatur, deserunt iste, cumque error sunt saepe necessitatibus dolores accusantium.</p>
                </details>
            </ul>

            <ul>
                <i class="fa-solid fa-check" style="color:red"></i>
                <details>
                    <summary>
                        Como são as regras da Guilda?
                    </summary> 
                    <p class="faqresposta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nobis! Laborum, numquam? Hic, et? Perspiciatis in voluptatibus quia animi, a pariatur, deserunt iste, cumque error sunt saepe necessitatibus dolores accusantium.</p>
                </details>
            </ul>

            <ul>
                <i class="fa-solid fa-check" style="color:red"></i>
                <details>
                    <summary>
                        Como criar uma partida?
                    </summary>    
                    <p class="faqresposta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nobis! Laborum, numquam? Hic, et? Perspiciatis in voluptatibus quia animi, a pariatur, deserunt iste, cumque error sunt saepe necessitatibus dolores accusantium.</p>
                </details>
            </ul>

            <ul>
                <i class="fa-solid fa-check" style="color:red"></i>
                <details>
                    <summary>
                        Como encontrar pessoas para fechar a sala?
                    </summary>
                    <p class="faqresposta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nobis! Laborum, numquam? Hic, et? Perspiciatis in voluptatibus quia animi, a pariatur, deserunt iste, cumque error sunt saepe necessitatibus dolores accusantium.</p>
                </details>
            </ul>
        </div>
    </div>
</main>












<%- include('partials/footer'); %>