<%- include('partials/head'); %>
<link rel="stylesheet" href="../css/hubstyle.css">
<%- include('partials/header') %>

<main class="fundoBege">
    <div class="container1">
        <!-- <img src="../images/como-jogar-o-sistema-de-tormenta-rpg 1.png" alt=""> -->
        <p class="textoBranco">Fique por dentro e acompanhe os jogos de Tormenta20 nos canais da Twitch e Youtube!
        </p>
    </div>



    <div class="fundoLaranja">
        <p class="textoAzul">Jambo Editora</p>
    </div>
    <div class="caixaVideos">
        <a href="https://www.youtube.com/watch?v=2DRZERWXQgc">
            <img src="../images/image 1.png" alt="">
        </a>
        <a href="https://www.youtube.com/watch?v=2DRZERWXQgc">Tormenta20 - Fim dos Tempos 40 - A Noite dos Maníacos
            Aberrantes...</a>

        <a href="https://www.youtube.com/watch?v=p5xM09MOl2E">
            <img src="../images/image 2.png" alt="">
        </a>
        <a href="https://www.youtube.com/watch?v=p5xM09MOl2E">Tormenta20 - Legado do Ódio 11 - O Paradoxo dos
            Vulcões</a>

        <a href="https://www.youtube.com/watch?v=c7ARcviSkPw">
            <img src="../images/image 3.png" alt="">
        </a>
        <a href="https://www.youtube.com/watch?v=c7ARcviSkPw">Tormenta20 - Fim dos Tempos 47 - A Noite dos Maníacos
            Aberrantes...</a>

    </div>


    <div class="fundoLaranja">
        <p class="textoAzul">Outros Canais</p>
    </div>
    <div class="caixaVideos">
        
        <a href="https://www.youtube.com/watch?v=sYNt2aGhNy4">
            <img src="../images/image 6.png" alt="">
        </a>
        <a href="https://www.youtube.com/watch?v=sYNt2aGhNy4">O Naufrágio | #OssosAfogados Ep.01 | Campanha OFICIAL
            de Tormenta 20</a>
        
        <a href="https://www.youtube.com/watch?v=QUm86xLSD4A">
            <img src="../images/image 7.png" alt="">
        </a>
        <a href="https://www.youtube.com/watch?v=QUm86xLSD4A">Heranças do Tirano | Episódio 1 - O Roubo da Espada |
            Tormenta20</a>

        <a href="https://www.youtube.com/watch?v=sB8tzWVh_dU">
            <img src="../images/image 8.png" alt="">
        </a>
        <a href="https://www.youtube.com/watch?v=sB8tzWVh_dU">Acerto de Contas | Capítulo 5 | MesaMDD |
            Tormenta20</a>

    </div>

</main>

<%- include('partials/footer'); %>