<%- include('partials/head'); %>
<link rel="stylesheet" href="../css/hubstyle.css">
<%- include('partials/header') %>

<main class="fundoBege">
    <div class="container1">
        <!-- <img src="../images/como-jogar-o-sistema-de-tormenta-rpg 1.png" alt=""> -->
        <p class="textoBranco">Fique por dentro e acompanhe os jogos de Tormenta20 nos canais da Twitch e Youtube!
        </p>
    </div>



    <div class="fundoLaranja">
        <a href="https://www.youtube.com/user/jamboeditora" target="_blank">
            <p class="textoAzul">Jambo Editora</p>
        </a>
        
    </div>
    <div class="caixaVideos">
        <iframe src="https://www.youtube.com/embed/pst5VhqydqU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe src="https://www.youtube.com/embed/_5VaxDA-2qM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe src="https://www.youtube.com/embed/EhU6o2HThXY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe src="https://www.youtube.com/embed/VmvqY4R7dIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    <div class="fundoLaranja">
        <a href="https://www.youtube.com/results?search_query=tormenta20" target="_blank">
            <p class="textoAzul">Outros Canais</p>
        </a>
        
    </div>
    <div class="caixaVideos">
        <iframe src="https://www.youtube.com/embed/jnSSW5uZz-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe src="https://www.youtube.com/embed/saqvz-gIGDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe src="https://www.youtube.com/embed/uuq3gfjxI7Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe src="https://www.youtube.com/embed/6zgvjSpwG1c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

</main>

<%- include('partials/footer'); %>