<%- include('partials/head'); %>
    <link rel="stylesheet" href="../css/loginstyle.css">
  <%- include('partials/header') %>

    <main>

        <div class="loginContainer">
            <h1 class="loginTitle">Boas-Vindas!</h1>
            <% if(locals.loginError){ %>
                <span class="error">Email ou Senha incorreto</span>
            <% } %>
            
            <form action="login" method="post" class="loginForm">
                <label for="email" class="loginInputEmail">Email</label>
                <input class="loginInput" type="email" name="email" id="email" placeholder="jogador@aguilda.com">
                
                
                <label for="senha" class="loginInputEmail">Senha</label>
                <input class="loginInput" type="password" id="senha" name="senha" placeholder="*****">
    


                <a class="loginReset" href="#">Esqueceu a senha?</a>

                <button type="submit" class="loginSubmit">Logar na Guilda</button>

               
                <p class="conta">
                    Não possui conta? 
                    <a class="cadastro" href="/cadastro">Cadastre-se!</a>
                </p>

            </form>
            

        </div>
        <div class="saibamais">
        

            <div class="boxSaibaMais">
                <p class="textSaibaMais">
                   <b>Sua aventura começa aqui!</b>
                    
                
                    Conheça mais sobre A Guilda.

                    

                    <button class="buttonSaibaMais">Saiba Mais!</button>
                </p>

            </div>
        </div>



    </main>
    
    <%- include('partials/footer'); %>