<%- include('partials/head', {title:'A Guilda'}); %>

<link rel="stylesheet" href="../css/perfilstyle.css">
<!-- colocar acima o css da view -->


<%- include('partials/header') %>

<!-- abaixo o main -->




    <main>
 
      <div class="divLeft">
        <div class="gerenciarConta">
            <h1>Gerenciamento de conta</h1>
            <div class="fotoPerfil">
           <img src="../images/image 9.png" alt="imagem de perfil">

            </div>
        </div>
        
      </div>



      <div class="divRight">
        <div class="cardNome">
            <div class="cardNomeLeft"></div>
            <div class="cardNomeRight"></div>
        </div>

        <div class="cardEmail">
            <div class="cardEmailLeft"></div>
            <div class="cardEmailRight"></div>
        </div>

        <div class="cardSenha">
            <div class="cardSenhaLeft"></div>
            <div class="cardSenhaRight"></div>
        </div>

        <div class="cardPersonagens">

        </div>

        <div id="login-container">
  

          <h1>TELA EM CONSTRUÇÃO</h1>
        </div>
        
      </div>


    </main>


<%- include('partials/footer'); %>