*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background-color: #F2EFC7;
}

main{
    
}



main section.sessao1{
    margin-bottom: 40px;
    display: flex;
    flex-direction:column;
    background-image: url('../images/tela12.jpg');
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content:center
    
    
}

main > section > img{
    width: 100%;
}

main section.sessao2{
    padding-left: 60px;
    background-color: #800008;
    padding-bottom: 25px;
}

main section.sessao2>h2{
    color: #FA7800;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px 0px;
    font-size: 55px ;

}

main section.sessao2 h3{
    color: #F2EFC7;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main section.sessao2 div label{
    color: #F2EFC7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:normal;
    padding: 8px;
    margin-left: -5px;
    margin-right: 15px;
}

#busca{
    width: 521px;
    height: 68px;
    margin-bottom: 2%;
}

label:hover{cursor: pointer;}

.novosJogadores{
    margin-bottom: 2%;
}

.palavraChave{
    border: none;
    outline: none;
    cursor: text;
    padding-left: 10px;
    font-size: 20px;
}

#buscar{
    width: 256px;
    height: 86px;
    border-radius: 20px;
    background-color: #2E4057;
    color: #F2EFC7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 00px;
    border: none;
    outline: none;
    cursor: pointer;

}

#criarAnuncio{
    width: 379px;
    height: 86px;
    border-radius: 20px;
    background-color: #F18805;
    color: #F2EFC7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 90px;
    border: none;
    outline: none;
    cursor: pointer;
}

#buscar:active , #criarAnuncio:active{
    background-color: #CD1502;
}


/** ESSA PARTE DO CÓDIGO MUDA O COMPORTAMENTO E COR DAS CHECKBOXS MAS NAO ME PERGUNTE COMO **/
input {
     cursor: pointer;
     appearance: none;
     background: #1E2B3A;
     height: 16px;
     width: 16px;
     color: white;
     border-radius: 2px;
     accent-color: #1E2B3A;
   }
   input[type="checkbox"]:checked {
     appearance:auto;
   }
/** ESSA PARTE DO CÓDIGO MUDA O COMPORTAMENTO E COR DAS CHECKBOXS MAS NAO ME PERGUNTE COMO **/

main section.sessao2 input::placeholder {
    color: #F2EFC7;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    
}

.sessao3{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main section.sessao3 h2{
    background-color: #2E4057;
    color: #F18805;
    width: 100%;
    height: 100px;
    padding-left: 60px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 55px ;
    margin-top: 40px;
    margin-bottom: 20px;
}

.textoBranco {
    color: #FFFFFF;
    font-family: 'Arvo';
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    width: 440px;
    height: 150px;
    text-align: center;
    align-self:center
}

.inputDias{
    margin-bottom: 5%;
}

.sessao3 img{width: 80%;}

@media(max-width:1092px){
    /* sessao 1 */
    main section.sessao1{align-items: center;}
    .textoBranco{align-items: center;}

    /* sessao2 */
    main section.sessao2 h2{font-size:35px; padding-bottom: 2%;}
    #busca{width:440px; margin-bottom: 2%;}
    #buscar{width:200px;height:65px}
    #criarAnuncio{height:65px; width:280px;}
    main section.sessao2 div label{font-size:12px;}


    /* sessao3 */
    main section.sessao3 h2{font-size:35px; padding-top:8px; height:65px;}
    .sessao3 img{width:97%; margin-right: 3%;}
}

@media(max-width:700px){
    /* sessao1 */

    /* sessao2 */
    main section.sessao2{padding-left:20px;}
    #busca{width:80%;height: 50px; font-size:20px;}
    #buscar{width:140px;height:45px; font-size:25px;}
    #criarAnuncio{height:45px;font-size: 25px; width:210px; margin-left: 40px;}
    main section.sessao2 div label{margin-left:-10px;margin-right: 2px;}
    input{height:12px;width:12px;}
}

@media(max-width:500px){
    /* sessao1 */
    .textoBranco{width: 300px;height:100px;font-size: 24px;line-height: 35px;}
    /* sessao2 */
    #buscar{width:100px;height:35px;font-size: 20px;}
    #criarAnuncio{margin-left:15px; width:160px;height: 35px;font-size: 20px;}
    .palavrinhaa{font-size:15px;}

    /* sessao3 */
    main section.sessao3 h2{font-size:25px;height:50px;}
}

