@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

main{
    margin-bottom: auto;
    background: #800008;
    min-width: 100%;
    
}

body, html {
    height: 100%;
}

.loginContainer{
    
    width: 58%;
    height: 758px;
    
    
    background: rgba(6, 85, 128, 0.85);
    border-radius: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saibamais{
    
    width: 40%;
    height: 758px;
    position: relative;
    background-image: url('/images/CapaPost 1.png');
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 63px;
}

.loginTitle{
    margin-top: 34px;
    width: 600px;
    height: 80px;
    left: 127px;
    top: 259px;
    font-family: Germania One;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 87px;
    text-align: center;
    color: #FA7800;
}

.loginForm{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin-top: 30px;
}

.loginInputEmail{
    
    width: 460px;
    height: 56px;
    display:block;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 56px;
    color: #FA7800;
}

.loginInput{
    padding: 10px;
    width: 600px;
    height: 60px;
    display:block;
    font-family: Arvo;
    background: #1E2B3A;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    border: unset;
    outline: none;
    color: #FA7800;
}

.loginSubmit{
    
    width: 400px;
    height: 100px;
    display:block;
    margin:0 auto;
    background: #F18805;
    border-radius: 19px;
    font-family: Alegreya;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    color: #2E4057;
    border: unset;
    outline: none;
    cursor: pointer;
    transition: .05s ease-in-out;
}

.loginSubmit:hover{
    background-color: #CD1520;
    color: #F2EFC7;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:80%;
    padding: 1%;
    margin: 0 auto;
}

.loginReset{
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    text-decoration: none;
    color: #FA7800;
}

.conta{
    
    width: 554px;
    height: 50px;
    margin: 10px auto;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #F2EFC7;
}

.cadastro{
    font-weight: bold;
    color: #FA7800;
}

.boxSaibaMais{
    height: 45%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
    background: rgba(128, 0, 8, 0.54);
    border-radius: 0px 0px 63px 63px;

}

.textSaibaMais{
    font-family: Arvo;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    color: #F2EFC7;
}

.buttonSaibaMais{
    width: 290px;
    height: 62px;
    background: #CD1520;
    border-radius: 12px;
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #F2EFC7;
    border: unset;
    outline: none;
    cursor: pointer;
    transition: .05s ease-in-out;
}

.buttonSaibaMais:hover{
    background: #F18805;
    color: #2E4057;
}
