@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

root{
    --fontRed-global: 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    background-color: #F2EFC7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    box-shadow: 0px 8px 10px rgba(170, 170, 170, 0.5);
    top: 0;
    color:  #CD1520;
    font-weight: bold;
    font-family: 'Germania One', cursive;
}
header > nav > button{
    display: none
}
header > a {
    display: flex;
}
header> a > img {
    margin-left: 1em;
    margin-right: 5px;
}

header>a>h1{
    font-family: 'Germania One', cursive;
    font-size: 49px;
    display: flex;
    align-self: center;
    color: #CD1520;
    text-decoration: none;
    margin-left: 15px;
}

header nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    font-size: 25px;
}

header nav ul li {
    height: 100%;
}

header nav ul li a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: inherit;
}

header > nav.menu1 >li >a{
    font-size: 50px;
}

.menu1 > ul > li:hover{
    color: #065580;
}

.menu2 > ul > li:hover{
    color: #065580;
}

.menu2 > ul > li.entrar:hover{
    color: #F2EFC7;
}

nav.menu1{
    font-size: 40px;
}

nav.menu2{
    right: 30px;
    height: 100px;
}

header > nav > ul > li.entrar{
    background-color: #CD1520;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    border-radius: 10px;
    height: 50%;
    margin-top: 25px;
    color: #F2EFC7;
    
}

header > nav > ul > li.entrar:hover{
    background-color: #065580;
}

.buttonMenu{
    border: none;
    background-color: transparent;
    margin-right: 1rem
    
}

.buttonMenu:active{
    transform: scale(0.9);
}

.buttonMenu i {
    font-size: 30px;
    color: #CD1520;
   
}
.saudacao{
    display: none

}

.submenu {
    z-index: 100;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #F2EFC7;
    position: absolute;
    right: 0.5rem;
    margin-right: 8px;
    border-radius: 5px;
    width: 180px;
    max-width: 210px;
    height: 50px;
  }
  .submenu li a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    background: #e4e1be;
    
  }
  .submenu li a i {
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0 0.75rem 0 -0.25rem;
    width: 25px;
    
  }
  .submenu li a:hover {
    background: #CD1520;
    color: #000;
    
  }

  .submenu li:first-child a {
    border-radius: 5px 5px 0 0;
  }
  .submenu li:last-child a {
    border-radius: 0 0 5px 5px;
  }

  .submenu li:first-child a:hover {
    border-radius: 5px 5px 0 0;
  }
  .submenu li:last-child a:hover {
    border-radius: 0 0 5px 5px;
  }
  

footer{
    background-color: #065580;
    display: flex;
    height: 42px;
    color:  #CD1520;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer nav ul{
    list-style: none;
    display: flex;
    font-size: 25px;
   
    width: 100%
}

footer nav ul li {
    height: 100%;
    padding: 0 1%
}

footer nav ul li a {
    text-decoration: none;
    height: 100%;
    display: flex;
    margin: 0 5%;
    color: #F2EFC7;
    flex-direction: row;
    align-self: flex-start;
}


.menu3 > ul > li:hover{
    background-color: #CD1520;
}

.footerMenu  > ul > li:hover{
    background-color: #CD1520;
}
.footerMenu{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    

}
@media(max-width: 1092px){
    .menu1 ,.menu2{
        display: none;
    }
    .menu3 button{
        display: inline;
    }
    .saudacao{
        display:inline;
        padding-right: 1px;
    
    }
    
   
}

@media(max-width: 450px){
    footer nav ul li{font-size: small;}
    footer nav ul{justify-content: space-around;}
    .buttonMenu i{font-size: 25px;}
    header a h1{font-size: 25px; margin-left: 5px;}
    header a img{height: 50px; width: 35px;}
    header{height: 70px;}
}

@media(max-width: 350px){
    header{
        height: 70px;
    }
    header a h1{font-size: 25px; margin-left: 5px;}
    .buttonMenu i{font-size: 20px;}
    header a img{height: 50px; width: 35px;}
    
    
}

a{
    text-decoration: none;
}