@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Open+Sans&display=swap');




main {
    height: auto;
    width: 100%;
    background-color: #F2EFC7;
}


.container1{
    width: 100%;
    height: 550px;
    background-image: url('../images/como-jogar-o-sistema-de-tormenta-rpg 1.png');
    display: flex;
    margin-bottom: 1%;

}

.container1 p{
    align-self: center;
    padding-left: 2%;
}

.fundoBege {
    background: #F2EFC7;
}

.fundoLaranja {
    background: #F18805;
}

.textoBranco {
    color: #FFFFFF;
    font-family: 'Arvo';
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6); 
    width: 550px;
    height: 170px;
}

.textoAzul {
    color: rgb(6, 85, 128);
    font-family: 'Arvo';
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    margin-left: 60px;
    
}

.caixaVideos {
    display: flex;
    width: 100%;
}

iframe{
    justify-content:space-between;
    align-items:center;
    padding: 0 1%;
    width: 25%;
    height: 200px
}

div{padding: 1% 0}


@media(max-width: 600px){
    .caixaVideos{flex-direction:column;}
    iframe{width: 100%; height: 250px; padding: 1%}
}

@media(max-width:450px){
    .textoBranco{font-size: 25px;}
}