@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

main{
    margin-bottom: auto;
    background: #800008;
    min-width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 1%
    
}

body, html {
    height: 100%;
    
}

.loginContainer{
    width: 50%;
    height: 758px;
    background: rgba(6, 85, 128, 0.85);
    border-radius: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.saibamais{
    
    width: 40%;
    height: 758px;
    position: relative;
    background-image: url('/images/CapaPost 1.png');
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 63px;
}

.loginTitle{
    margin: 5% 2% 5% 2%;
    font-family: Germania One;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 87px;
    text-align: center;
    color: #FA7800;
    display: flex;
    align-items: center;
    align-self: center;
}


.loginForm label{
    padding-left: 1%;
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 0 0 5% 0
}

.loginInputEmail{
    
    width: 460px;
    height: 56px;
    display:block;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 56px;
    color: #FA7800;
}

.loginInput{
    padding: 10px;
    margin: 0 1%;
    height: 60px;
    display:block;
    font-family: Arvo;
    background: #1E2B3A;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    border: unset;
    outline: none;
    color: #FA7800;
}

.loginSubmit{
    
    width: 60%;
    height: auto;
    background: #F18805;
    border-radius: 19px;
    font-family: Alegreya;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 50px;
    color: #2E4057;
    border: unset;
    outline: none;
    cursor: pointer;
    transition: .05s ease-in-out;
    margin-top: 2%;
    display: flex;
    align-items:center;
    align-self: center;
    justify-content: center;
}

.loginSubmit:hover{
    background-color: #CD1520;
    color: #F2EFC7;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:80%;
    padding: 1%;
    margin: 0 auto;
}

.loginReset{
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    text-decoration: none;
    color: #FA7800;
    padding: 2% 0 0 2%
}

.conta{
    
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 4% 5% 5% 5%;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #F2EFC7;
}

.cadastro{
    font-weight: bold;
    color: #FA7800;
}

.boxSaibaMais{
    
    position: absolute;
    bottom: 0;
    padding: 15px;
    background: rgba(128, 0, 8, 0.54);
    border-radius: 0px 0px 63px 63px;
   

}

.textSaibaMais{
    font-family: Arvo;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    color: #F2EFC7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonSaibaMais{
    width: 60%;
    height: 62px;
    background: #CD1520;
    border-radius: 12px;
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #F2EFC7;
    border: unset;
    outline: none;
    cursor: pointer;
    transition: .05s ease-in-out;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%
}

.buttonSaibaMais:hover{
    background: #F18805;
    color: #2E4057;
}

@media(max-width: 574px){
        .saibamais{display: none}
        .loginContainer{width:100%}
        .loginSubmit{height: 20%; font-size: 40px; line-height: 40px;}
}