@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Open+Sans&display=swap');


main{
    width: 100%;
    min-width: 1092px;
    height: auto;
    left: 0px;
    top: 131px;
    background: #F2EFC7;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
}

.container{
    margin-bottom: 56px;
}

.container img{
    width: 100%;
    height: 573px;
}

.container p{
    position: absolute;
    width: 550px;
    height: 170px;
    left: 53px;
    top: 279px;
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.container button{
    position: absolute;
    width: 246px;
    height: 68px;
    left: 53px;
    top: 540px;
    background: #F18805;
    border-radius: 12px;
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #F2EFC7;
    cursor: pointer;
    border: unset;
    outline: none;
    transition: .05s ease-in-out;
    
}

.container button:hover{
    background-color: #065580;
}

.container .map{
    position: absolute;
    width: 714.91px;
    height: 384px;
    left: 610px;
    top: 190px;
}

.container2{
    background-color: #065580;
    width: 100%;
    height: 786px;
    margin-bottom: 56px;
}

.container2 img, p, button{
    align: center;
}

.container2 img{
    position: absolute;
    width: 565px;
    height: 88px;
    left: 155px;
    top: 800px;
}

.container2 p{
    position: absolute;
    width: 692px;
    height: 389px;
    left: 92px;
    top: 900px;
    font-family: Alegreya;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #DDE6F1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container2 button{
    position: absolute;
    width: 362px;
    height: 62px;
    left: 250px;
    top: 1402px;
    background: #CD1520;
    border-radius: 12px;
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #F2EFC7;
    cursor: pointer;
    border: unset;
    outline: none;
    transition: .05s ease-in-out;
}

.container2 .grid{
    position: absolute;
    width: 496px;
    height: 593.35px;
    left: 800px;
    top: 800px;
}

.container3{
    background-color: #800008;
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    padding-bottom: 40px;
}

.principal{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 30px;
}

.principal > img{
    width: 132px;
    height: 143px;
}
.principal > h2{
    font-size: 44px;
    font-family: 'Germania One', cursive;
    font-weight: 300;
    color: hsl(56, 62%, 86%);
    text-align: center;
}

.comunidade{
    
    width: 500px;
    margin-left: 50px;
    color: #F2EFC7;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 75px;
}

.comunidade > h3{
    font-family:'Germania One', cursive;
    font-weight: 300;
    font-size: 30px;
    margin-top: -60px;
}

.comunidade > p{
    font-family:'Germania One', cursive;
    font-weight: 300;
    font-size: 25px;
}

.comunidade > button{
    font-family:'Germania One', cursive;
    font-weight: 300;
    background-color: #F18805;
    text-decoration: none;
    width: 300px;
    height: 60px;
    border-radius: 12px;
    margin-top: 15px;
    cursor: pointer;
    border: unset;
    outline: none;
    transition: .05s ease-in-out;
}

.comunidade > button:hover{
    background-color: #065580;
}

.comunidade > button > a{
    font-family:'Germania One', cursive;
    font-weight: 300;
    font-size: 30px;
    color: #F2EFC7;
    font-weight: normal;
}

.monteUmaMesa{
    width: 500px;
    margin-left: 20px;
    color: #F2EFC7;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 75px;
}

.monteUmaMesa > h3{
    font-family:'Germania One', cursive;
    font-weight: 300;
   font-size: 30px;
   
}

.monteUmaMesa > p{
    font-family:'Germania One', cursive;
    font-weight: 300;
    font-size: 25px;
}

.monteUmaMesa > button{
    font-family:'Germania One', cursive;
    font-weight: 300;
    background-color: #F18805;
    text-decoration: none;
    width: 300px;
    height: 60px;
    border-radius: 12px;
    margin-top: 15px;
    cursor: pointer;
    border: unset;
    outline: none;
    transition: .05s ease-in-out;
}

.monteUmaMesa > button:hover{
    background-color: #065580;
}

.monteUmaMesa > button > a {
    font-family:'Germania One', cursive;
    font-weight: 300;
    font-size: 30px;
    color: #F2EFC7;
    font-weight: normal;
}

.lives{
    width: 500px;
    margin-left: 20px;
    color: #F2EFC7;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 135px;
}

.lives > h3{
    font-family:'Germania One', cursive;
    font-weight: 300;
    font-size: 30px;
    margin-top: 0px;
}

.lives > p{
    font-family: 'Germania One', cursive;
    font-size: 25px;
    
    
}

.lives > button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F18805;
    text-decoration: none;
    width: 300px;
    height: 60px;
    border-radius: 12px;
    margin-top: 15px;
    cursor: pointer;
    border: unset;
    outline: none;
    transition: .05s ease-in-out;
}

.lives > button:hover{
    background-color: #065580;
}

.lives > button > a {
    font-family:'Germania One', cursive;
    font-weight: 300;
    font-size: 30px;
    color: #F2EFC7;
    font-weight: normal;
}
a{
    text-decoration: none;
}
